<section class="build">
	
	<div class="grid">
		<div class="demo"></div>
	</div>
	
	<div class="grid cf">
		
		<div class="build-items">
		
			<% @output.each do |name, p| %>
				<div class="cateogry category-rack cf">
					<div class="category-title">
						<h3><%= name %></h3>
					</div>
					<ul class="cf">
						<% @output[name].each do |p_name, p| %>
							<li class="category-item js-category-item <%= p.base? ? 'is-base is-active' : '' %>" data-item-name="<%= p.name %>" data-item-display-name="<%= p.display_name %>" data-item-id="<%= p.id %>" data-item-price="300"> <%= p.display_name %> </li>
						<% end %>
					</ul>			
				</div>
			<% end %>

		</div>

		<div class="build-summary">
			<h3>Summary</h3>
			<ul class="summary-list"></ul>
		</div>

	</div>

</section>